<!--?xml version="1.0" encoding="UTF-8"?--><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head> 
  <meta content="text/html;charset=utf-8" http-equiv="content-type"/>
  <title>obrazec-prikaz-o-vvedenii-masochnogo-rezhima(1)</title> 
  <style type="text/css">
.page{position:relative; border:1px solid blue;margin:0.5em}
.p,.r{position:absolute;}
@supports(-webkit-text-stroke: 1px black) {.p{text-shadow:none !important;}}</style> 
 </head> 
 <body> 
  <div class="page" id="page_0" style="width:612.0pt;height:792.0pt;overflow:hidden;"> 
   <div class="r" style="left:84.96603pt;top:72.1499pt;width:441.91824pt;height:647.92535pt;background-color:#ffffff;">
     &nbsp; 
   </div> 
   <div class="p" id="p0" style="top:88.095pt;left:284.3984pt;line-height:1.1169968pt;font-family:Arial;font-size:1.0pt;width:43.204437pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNMOOO Sberbank} 
   </div> 
   <div class="p" id="p1" style="top:94.07771pt;left:197.8159pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;width:20.289505pt;">
     Юр. 
   </div> 
   <div class="p" id="p2" style="top:94.07771pt;left:221.15901pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;width:33.33107pt;">
     адрес: 
   </div> 
   <div class="p" id="p3" style="top:103.127716pt;left:257.54248pt;line-height:1.1169968pt;font-family:Arial;font-size:1.0pt;width:38.869873pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM12312312} 
   </div> 
   <div class="p" id="p4" style="top:94.07771pt;left:296.4111pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:3.058014pt;">
     , 
   </div> 
   <div class="p" id="p5" style="top:103.127716pt;left:302.5234pt;line-height:1.1169968pt;font-family:Arial;font-size:1.0pt;letter-spacing:-2.0E-4pt;width:40.036896pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNMKazan city} 
   </div> 
   <div class="p" id="p6" style="top:94.07771pt;left:342.5591pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:3.058014pt;">
     , 
   </div> 
   <div class="p" id="p7" style="top:94.07771pt;left:348.6707pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:23.201172pt;">
     тел.: 
   </div> 
   <div class="p" id="p8" style="top:103.127716pt;left:374.9253pt;line-height:1.1169968pt;font-family:Arial;font-size:1.0pt;letter-spacing:-2.0E-4pt;width:39.260345pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM87654567} 
   </div> 
   <div class="p" id="p9" style="top:111.43758pt;left:167.94629pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:23.797394pt;">
     ИНН 
   </div> 
   <div class="p" id="p10" style="top:120.48758pt;left:194.7964pt;line-height:1.1169968pt;font-family:Arial;font-size:1.0pt;letter-spacing:-3.0E-4pt;width:38.201294pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNM234567654234567} 
   </div> 
   <div class="p" id="p11" style="top:111.43758pt;left:232.9966pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:3.0579987pt;">
     , 
   </div> 
   <div class="p" id="p12" style="top:111.43758pt;left:239.1082pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:22.222183pt;">
     КПП 
   </div> 
   <div class="p" id="p13" style="top:111.43758pt;left:264.3829pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:64.23996pt;">
     6784562343, 
   </div> 
   <div class="p" id="p14" style="top:111.43758pt;left:331.67645pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:29.79129pt;">
     ОГРН 
   </div> 
   <div class="p" id="p15" style="top:111.43758pt;left:364.52576pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:79.53433pt;">
     1231232342341 
   </div> 
   <div class="p" id="p16" style="top:179.79738pt;left:287.8699pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:36.261505pt;">
     Приказ 
   </div> 
   <div class="p" id="p17" style="top:214.1573pt;left:90.0pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:13.9282pt;">
     "1" 
   </div> 
   <div class="p" id="p18" style="top:214.1573pt;left:106.984pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:26.533089pt;">
     июля 
   </div> 
   <div class="p" id="p19" style="top:214.1573pt;left:136.5674pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:24.470596pt;">
     2020 
   </div> 
   <div class="p" id="p20" style="top:214.1573pt;left:164.096pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-3.0E-4pt;width:22.181503pt;">
     года 
   </div> 
   <div class="p" id="p21" style="top:231.51717pt;left:494.9082pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.803009pt;">
     № 
   </div> 
   <div class="p" id="p22" style="top:231.51717pt;left:509.7648pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.229828pt;">
     23 
   </div> 
   <div class="p" id="p23" style="top:293.927pt;left:90.0pt;line-height:1.1170044pt;font-family:Arial;font-size:1.0pt;letter-spacing:-2.0E-4pt;width:40.294098pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNMMoscow} 
   </div> 
   <div class="p" id="p24" style="top:316.9097pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:8.557999pt;">
     О 
   </div> 
   <div class="p" id="p25" style="top:316.9097pt;left:101.6116pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:48.345pt;">
     введении 
   </div> 
   <div class="p" id="p26" style="top:316.9097pt;left:153.008pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:52.990295pt;">
     масочного 
   </div> 
   <div class="p" id="p27" style="top:316.9097pt;left:209.05627pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:39.293106pt;">
     режима 
   </div> 
   <div class="p" id="p28" style="top:316.9097pt;left:251.40738pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.8410034pt;">
     в 
   </div> 
   <div class="p" id="p29" style="top:325.9597pt;left:260.30658pt;line-height:1.1170044pt;font-family:Arial;font-size:1.0pt;letter-spacing:-2.0E-4pt;width:45.64984pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNMOOO Sber} 
   </div> 
   <div class="p" id="p30" style="top:351.26962pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:7.336998pt;">
     В 
   </div> 
   <div class="p" id="p31" style="top:351.26962pt;left:100.3928pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:28.36901pt;">
     связи 
   </div> 
   <div class="p" id="p32" style="top:351.26962pt;left:131.8132pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.5pt;">
     с 
   </div> 
   <div class="p" id="p33" style="top:351.26962pt;left:140.369pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:38.811295pt;">
     угрозой 
   </div> 
   <div class="p" id="p34" style="top:351.26962pt;left:182.23169pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:89.07687pt;">
     распространения 
   </div> 
   <div class="p" id="p35" style="top:351.26962pt;left:274.3589pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.148987pt;">
     и 
   </div> 
   <div class="p" id="p36" style="top:351.26962pt;left:283.55927pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:55.054993pt;">
     заражения 
   </div> 
   <div class="p" id="p37" style="top:351.26962pt;left:341.66458pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.179565pt;">
     новой 
   </div> 
   <div class="p" id="p38" style="top:351.26962pt;left:374.89557pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:82.683624pt;">
     коронавирусной 
   </div> 
   <div class="p" id="p39" style="top:351.26962pt;left:460.6306pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:56.91284pt;">
     инфекцией 
   </div> 
   <div class="p" id="p40" style="top:368.62952pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:58.06241pt;">
     (COVID-19) 
   </div> 
   <div class="p" id="p41" style="top:368.62952pt;left:151.11821pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.8410034pt;">
     в 
   </div> 
   <div class="p" id="p42" style="top:368.62952pt;left:160.01831pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:67.718216pt;">
     соответствии 
   </div> 
   <div class="p" id="p43" style="top:368.62952pt;left:230.78793pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.739197pt;">
     со 
   </div> 
   <div class="p" id="p44" style="top:368.62952pt;left:245.58513pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:39.327164pt;">
     статьей 
   </div> 
   <div class="p" id="p45" style="top:368.62952pt;left:287.9637pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.416901pt;">
     11 
   </div> 
   <div class="p" id="p46" style="top:368.62952pt;left:302.4386pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:73.24124pt;">
     Федерального 
   </div> 
   <div class="p" id="p47" style="top:368.62952pt;left:378.73785pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:34.40576pt;">
     закона 
   </div> 
   <div class="p" id="p48" style="top:368.62952pt;left:416.20163pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:10.914185pt;">
     от 
   </div> 
   <div class="p" id="p49" style="top:368.62952pt;left:430.17163pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.234192pt;">
     30 
   </div> 
   <div class="p" id="p50" style="top:368.62952pt;left:445.46384pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.587677pt;">
     марта 
   </div> 
   <div class="p" id="p51" style="top:368.62952pt;left:479.10953pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:24.470581pt;">
     1999 
   </div> 
   <div class="p" id="p52" style="top:385.98932pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:22.181503pt;">
     года 
   </div> 
   <div class="p" id="p53" style="top:385.98932pt;left:115.2395pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.803001pt;">
     № 
   </div> 
   <div class="p" id="p54" style="top:385.98932pt;left:130.0961pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.906708pt;">
     52-ФЗ 
   </div> 
   <div class="p" id="p55" style="top:385.98932pt;left:164.05861pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.462997pt;">
     "О 
   </div> 
   <div class="p" id="p56" style="top:385.98932pt;left:179.57521pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:165.46526pt;">
     санитарно-эпидемиологическом 
   </div> 
   <div class="p" id="p57" style="top:385.98932pt;left:348.0908pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:70.00726pt;">
     благополучии 
   </div> 
   <div class="p" id="p58" style="top:385.98932pt;left:421.14948pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:61.119263pt;">
     населения", 
   </div> 
   <div class="p" id="p59" style="top:385.98932pt;left:485.32236pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.1159973pt;">
     а 
   </div> 
   <div class="p" id="p60" style="top:403.3492pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:29.319397pt;">
     также 
   </div> 
   <div class="p" id="p61" style="top:403.3492pt;left:122.377396pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:36.14821pt;">
     Указом 
   </div> 
   <div class="p" id="p62" style="top:403.3492pt;left:161.5759pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:25.410004pt;">
     мэра 
   </div> 
   <div class="p" id="p63" style="top:403.3492pt;left:190.04388pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:39.4702pt;">
     Москвы 
   </div> 
   <div class="p" id="p64" style="top:403.3492pt;left:232.56659pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:10.914185pt;">
     от 
   </div> 
   <div class="p" id="p65" style="top:403.3492pt;left:246.53658pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.1159973pt;">
     7 
   </div> 
   <div class="p" id="p66" style="top:403.3492pt;left:255.71057pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:19.6427pt;">
     мая 
   </div> 
   <div class="p" id="p67" style="top:403.3492pt;left:278.40356pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:24.470581pt;">
     2020 
   </div> 
   <div class="p" id="p68" style="top:403.3492pt;left:305.93216pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:22.181488pt;">
     года 
   </div> 
   <div class="p" id="p69" style="top:403.3492pt;left:331.17163pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.803009pt;">
     № 
   </div> 
   <div class="p" id="p70" style="top:403.3492pt;left:346.02826pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:32.05066pt;">
     55-УМ 
   </div> 
   <div class="p" id="p71" style="top:437.7091pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:81.63211pt;">
     ПРИКАЗЫВАЮ: 
   </div> 
   <div class="p" id="p72" style="top:472.0689pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:35.862198pt;">
     Ввести 
   </div> 
   <div class="p" id="p73" style="top:472.0689pt;left:128.9136pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.840988pt;">
     в 
   </div> 
   <div class="p" id="p74" style="top:472.0689pt;left:137.81369pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:25.669601pt;">
     ООО 
   </div> 
   <div class="p" id="p75" style="top:472.0689pt;left:166.5369pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:42.324707pt;">
     "Олимп" 
   </div> 
   <div class="p" id="p76" style="top:472.0689pt;left:211.91739pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.5pt;">
     с 
   </div> 
   <div class="p" id="p77" style="top:472.0689pt;left:220.47319pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:13.928192pt;">
     "5" 
   </div> 
   <div class="p" id="p78" style="top:472.0689pt;left:237.45718pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:26.533112pt;">
     июля 
   </div> 
   <div class="p" id="p79" style="top:472.0689pt;left:267.0406pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:24.470581pt;">
     2020 
   </div> 
   <div class="p" id="p80" style="top:472.0689pt;left:294.56915pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:22.181488pt;">
     года 
   </div> 
   <div class="p" id="p81" style="top:472.0689pt;left:319.80865pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:71.9982pt;">
     обязательный 
   </div> 
   <div class="p" id="p82" style="top:472.0689pt;left:394.85828pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:51.039948pt;">
     масочный 
   </div> 
   <div class="p" id="p83" style="top:472.0689pt;left:448.94965pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:33.182587pt;">
     режим 
   </div> 
   <div class="p" id="p84" style="top:472.0689pt;left:485.18256pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:18.79898pt;">
     для 
   </div> 
   <div class="p" id="p85" style="top:489.4288pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:22.596199pt;">
     всех 
   </div> 
   <div class="p" id="p86" style="top:489.4288pt;left:115.652pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:66.25959pt;">
     сотрудников. 
   </div> 
   <div class="p" id="p87" style="top:506.78873pt;left:90.0pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:53.5766pt;">
     Назначить 
   </div> 
   <div class="p" id="p88" style="top:506.78873pt;left:146.63239pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:77.299194pt;">
     ответственным 
   </div> 
   <div class="p" id="p89" style="top:506.78873pt;left:226.98189pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.159485pt;">
     за 
   </div> 
   <div class="p" id="p90" style="top:506.78873pt;left:241.19937pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:37.989594pt;">
     закупку 
   </div> 
   <div class="p" id="p91" style="top:506.78873pt;left:282.24475pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.1490173pt;">
     и 
   </div> 
   <div class="p" id="p92" style="top:506.78873pt;left:291.4452pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:37.275665pt;">
     выдачу 
   </div> 
   <div class="p" id="p93" style="top:506.78873pt;left:331.77667pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:66.478455pt;">
     медицинских 
   </div> 
   <div class="p" id="p94" style="top:506.78873pt;left:401.31094pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.240082pt;">
     масок 
   </div> 
   <div class="p" id="p95" style="top:506.78873pt;left:434.60135pt;line-height:12.286957pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:60.41086pt;">
     работникам 
   </div> 
   <div class="p" id="p96" style="top:524.1485pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:67.85791pt;">
     заведующего 
   </div> 
   <div class="p" id="p97" style="top:524.1485pt;left:160.9159pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:58.459503pt;">
     хозяйством 
   </div> 
   <div class="p" id="p98" style="top:524.1485pt;left:222.4257pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:55.391556pt;">
     Николаева 
   </div> 
   <div class="p" id="p99" style="top:524.1485pt;left:280.87527pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:21.394989pt;">
     Н.Е. 
   </div> 
   <div class="p" id="p100" style="top:541.50836pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:72.75729pt;">
     Заведующему 
   </div> 
   <div class="p" id="p101" style="top:541.50836pt;left:165.81311pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:58.459488pt;">
     хозяйством 
   </div> 
   <div class="p" id="p102" style="top:541.50836pt;left:227.3229pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:54.657867pt;">
     Николаеву 
   </div> 
   <div class="p" id="p103" style="top:541.50836pt;left:285.0366pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:21.394989pt;">
     Н.Е. 
   </div> 
   <div class="p" id="p104" style="top:541.50836pt;left:309.4852pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:44.46747pt;">
     закупить 
   </div> 
   <div class="p" id="p105" style="top:541.50836pt;left:357.00848pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:67.09445pt;">
     медицинские 
   </div> 
   <div class="p" id="p106" style="top:541.50836pt;left:427.16095pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.142181pt;">
     маски 
   </div> 
   <div class="p" id="p107" style="top:541.50836pt;left:460.35455pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.8410034pt;">
     в 
   </div> 
   <div class="p" id="p108" style="top:541.50836pt;left:469.25467pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.850647pt;">
     течение 
   </div> 
   <div class="p" id="p109" style="top:541.50836pt;left:513.1633pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.115967pt;">
     3 
   </div> 
   <div class="p" id="p110" style="top:558.8682pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:41.789pt;">
     рабочих 
   </div> 
   <div class="p" id="p111" style="top:558.8682pt;left:134.84479pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:24.759918pt;">
     дней 
   </div> 
   <div class="p" id="p112" style="top:558.8682pt;left:162.6561pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.5pt;">
     с 
   </div> 
   <div class="p" id="p113" style="top:558.8682pt;left:171.2119pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:25.2417pt;">
     даты 
   </div> 
   <div class="p" id="p114" style="top:558.8682pt;left:199.5061pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:60.151306pt;">
     подписания 
   </div> 
   <div class="p" id="p115" style="top:558.8682pt;left:262.7077pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:43.487396pt;">
     приказа; 
   </div> 
   <div class="p" id="p116" style="top:558.8682pt;left:309.24872pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:67.74783pt;">
     организовать 
   </div> 
   <div class="p" id="p117" style="top:558.8682pt;left:380.05237pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.1159973pt;">
     1 
   </div> 
   <div class="p" id="p118" style="top:558.8682pt;left:389.22638pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:17.150085pt;">
     раз 
   </div> 
   <div class="p" id="p119" style="top:558.8682pt;left:409.43777pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.8410034pt;">
     в 
   </div> 
   <div class="p" id="p120" style="top:558.8682pt;left:418.3379pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:38.789246pt;">
     неделю 
   </div> 
   <div class="p" id="p121" style="top:558.8682pt;left:460.18295pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:37.275665pt;">
     выдачу 
   </div> 
   <div class="p" id="p122" style="top:576.2281pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.240097pt;">
     масок 
   </div> 
   <div class="p" id="p123" style="top:576.2281pt;left:123.29039pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:60.410904pt;">
     работникам 
   </div> 
   <div class="p" id="p124" style="top:576.2281pt;left:186.75159pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.182617pt;">
     из 
   </div> 
   <div class="p" id="p125" style="top:576.2281pt;left:200.9955pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.126877pt;">
     расчета 
   </div> 
   <div class="p" id="p126" style="top:576.2281pt;left:244.18037pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.1159973pt;">
     1 
   </div> 
   <div class="p" id="p127" style="top:576.2281pt;left:253.35437pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.351196pt;">
     маска 
   </div> 
   <div class="p" id="p128" style="top:576.2281pt;left:286.76355pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.190186pt;">
     на 
   </div> 
   <div class="p" id="p129" style="top:576.2281pt;left:302.01175pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:38.970764pt;">
     каждые 
   </div> 
   <div class="p" id="p130" style="top:576.2281pt;left:344.04053pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.1159973pt;">
     2 
   </div> 
   <div class="p" id="p131" style="top:576.2281pt;left:353.21454pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:23.46518pt;">
     часа 
   </div> 
   <div class="p" id="p132" style="top:576.2281pt;left:379.73773pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.4151pt;">
     работы; 
   </div> 
   <div class="p" id="p133" style="top:576.2281pt;left:423.20645pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:67.74783pt;">
     организовать 
   </div> 
   <div class="p" id="p134" style="top:593.588pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:42.467712pt;">
     ведение 
   </div> 
   <div class="p" id="p135" style="top:593.588pt;left:135.5257pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:43.7041pt;">
     журнала 
   </div> 
   <div class="p" id="p136" style="top:593.588pt;left:182.28778pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:63.76149pt;">
     регистрации 
   </div> 
   <div class="p" id="p137" style="top:593.588pt;left:249.10068pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:37.924683pt;">
     выдачи 
   </div> 
   <div class="p" id="p138" style="top:593.588pt;left:290.07678pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:66.478485pt;">
     медицинских 
   </div> 
   <div class="p" id="p139" style="top:593.588pt;left:359.61108pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:33.292603pt;">
     масок. 
   </div> 
   <div class="p" id="p140" style="top:610.94775pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:78.6599pt;">
     Руководителям 
   </div> 
   <div class="p" id="p141" style="top:610.94775pt;left:171.7102pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:41.220306pt;">
     отделов 
   </div> 
   <div class="p" id="p142" style="top:610.94775pt;left:215.98961pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:52.3105pt;">
     Горбунову 
   </div> 
   <div class="p" id="p143" style="top:610.94775pt;left:271.3559pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:25.058014pt;">
     С.С., 
   </div> 
   <div class="p" id="p144" style="top:610.94775pt;left:299.46753pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:38.823425pt;">
     Шихову 
   </div> 
   <div class="p" id="p145" style="top:610.94775pt;left:341.34674pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:22.333344pt;">
     Р.П., 
   </div> 
   <div class="p" id="p146" style="top:610.94775pt;left:366.7337pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:35.890778pt;">
     Львову 
   </div> 
   <div class="p" id="p147" style="top:610.94775pt;left:405.6803pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:26.276825pt;">
     Н.М., 
   </div> 
   <div class="p" id="p148" style="top:610.94775pt;left:435.01074pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:49.28656pt;">
     Андрееву 
   </div> 
   <div class="p" id="p149" style="top:610.94775pt;left:487.35312pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:20.465515pt;">
     К.С. 
   </div> 
   <div class="p" id="p150" style="top:628.3077pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:58.759796pt;">
     ознакомить 
   </div> 
   <div class="p" id="p151" style="top:628.3077pt;left:151.81561pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:18.245697pt;">
     под 
   </div> 
   <div class="p" id="p152" style="top:628.3077pt;left:173.1226pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:41.06848pt;">
     роспись 
   </div> 
   <div class="p" id="p153" style="top:628.3077pt;left:217.24689pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:63.198273pt;">
     сотрудников 
   </div> 
   <div class="p" id="p154" style="top:628.3077pt;left:283.50427pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.5pt;">
     с 
   </div> 
   <div class="p" id="p155" style="top:628.3077pt;left:292.06006pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.158783pt;">
     данным 
   </div> 
   <div class="p" id="p156" style="top:628.3077pt;left:335.26917pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:47.874146pt;">
     приказом 
   </div> 
   <div class="p" id="p157" style="top:628.3077pt;left:386.19363pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.8410034pt;">
     в 
   </div> 
   <div class="p" id="p158" style="top:628.3077pt;left:395.09375pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.850647pt;">
     течение 
   </div> 
   <div class="p" id="p159" style="top:628.3077pt;left:439.0024pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.1159973pt;">
     3 
   </div> 
   <div class="p" id="p160" style="top:628.3077pt;left:448.17642pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:41.78897pt;">
     рабочих 
   </div> 
   <div class="p" id="p161" style="top:628.3077pt;left:493.0212pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:24.759857pt;">
     дней 
   </div> 
   <div class="p" id="p162" style="top:645.6676pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.5pt;">
     с 
   </div> 
   <div class="p" id="p163" style="top:645.6676pt;left:98.5558pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:25.2417pt;">
     даты 
   </div> 
   <div class="p" id="p164" style="top:645.6676pt;left:126.85pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:16.004997pt;">
     его 
   </div> 
   <div class="p" id="p165" style="top:645.6676pt;left:145.913pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:63.203796pt;">
     подписания; 
   </div> 
   <div class="p" id="p166" style="top:645.6676pt;left:212.17038pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:81.325165pt;">
     контролировать 
   </div> 
   <div class="p" id="p167" style="top:645.6676pt;left:296.55133pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:48.539703pt;">
     персонал 
   </div> 
   <div class="p" id="p168" style="top:645.6676pt;left:348.15234pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.190186pt;">
     на 
   </div> 
   <div class="p" id="p169" style="top:645.6676pt;left:363.40054pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:42.72177pt;">
     предмет 
   </div> 
   <div class="p" id="p170" style="top:645.6676pt;left:409.17813pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:60.26895pt;">
     исполнения 
   </div> 
   <div class="p" id="p171" style="top:645.6676pt;left:472.4974pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:43.487396pt;">
     приказа; 
   </div> 
   <div class="p" id="p172" style="top:663.0274pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:56.365097pt;">
     отстранять 
   </div> 
   <div class="p" id="p173" style="top:663.0274pt;left:149.4209pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:58.565094pt;">
     работников 
   </div> 
   <div class="p" id="p174" style="top:663.0274pt;left:211.0451pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:10.914185pt;">
     от 
   </div> 
   <div class="p" id="p175" style="top:663.0274pt;left:225.01509pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:62.374405pt;">
     выполнения 
   </div> 
   <div class="p" id="p176" style="top:663.0274pt;left:290.43982pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.644592pt;">
     их 
   </div> 
   <div class="p" id="p177" style="top:663.0274pt;left:305.1402pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:70.243774pt;">
     обязанностей 
   </div> 
   <div class="p" id="p178" style="top:663.0274pt;left:378.4354pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:18.223694pt;">
     при 
   </div> 
   <div class="p" id="p179" style="top:663.0274pt;left:399.7105pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:72.648315pt;">
     неисполнении 
   </div> 
   <div class="p" id="p180" style="top:663.0274pt;left:475.41025pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.427155pt;">
     приказа 
   </div> 
   <div class="p" id="p181" style="top:680.38727pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:45.739105pt;">
     согласно 
   </div> 
   <div class="p" id="p182" style="top:680.38727pt;left:138.7971pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.377213pt;">
     ст. 
   </div> 
   <div class="p" id="p183" style="top:680.38727pt;left:154.2279pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.234192pt;">
     76 
   </div> 
   <div class="p" id="p184" style="top:680.38727pt;left:169.52011pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:13.131805pt;">
     ТК 
   </div> 
   <div class="p" id="p185" style="top:680.38727pt;left:185.70221pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:18.635101pt;">
     РФ. 
   </div> 
   <div class="p" id="p186" style="top:697.7471pt;left:90.0pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:61.264496pt;">
     Работникам 
   </div> 
   <div class="p" id="p187" style="top:697.7471pt;left:154.3148pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:22.596207pt;">
     всех 
   </div> 
   <div class="p" id="p188" style="top:697.7471pt;left:179.9668pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:63.103714pt;">
     структурных 
   </div> 
   <div class="p" id="p189" style="top:697.7471pt;left:246.12631pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:78.239655pt;">
     подразделений 
   </div> 
   <div class="p" id="p190" style="top:697.7471pt;left:327.41736pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:34.605988pt;">
     носить 
   </div> 
   <div class="p" id="p191" style="top:697.7471pt;left:365.07916pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:52.456757pt;">
     выданные 
   </div> 
   <div class="p" id="p192" style="top:697.7471pt;left:420.59393pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.142181pt;">
     маски 
   </div> 
   <div class="p" id="p193" style="top:697.7471pt;left:453.78754pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:5.8410034pt;">
     в 
   </div> 
   <div class="p" id="p194" style="top:697.7471pt;left:462.68765pt;line-height:12.286987pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.850647pt;">
     течение 
   </div> 
  </div> 
  <div class="page" id="page_1" style="width:612.0pt;height:792.0pt;overflow:hidden;"> 
   <div class="r" style="left:84.96603pt;top:72.121826pt;width:441.91824pt;height:647.9253pt;background-color:#ffffff;">
     &nbsp; 
   </div> 
   <div class="p" id="p195" style="top:77.045pt;left:90.0pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:46.1494pt;">
     рабочего 
   </div> 
   <div class="p" id="p196" style="top:77.045pt;left:139.2074pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:54.668884pt;">
     дня/смены 
   </div> 
   <div class="p" id="p197" style="top:77.045pt;left:196.92877pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:18.903503pt;">
     так, 
   </div> 
   <div class="p" id="p198" style="top:77.045pt;left:218.88588pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.973785pt;">
     чтобы 
   </div> 
   <div class="p" id="p199" style="top:77.045pt;left:252.91217pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.351196pt;">
     маска 
   </div> 
   <div class="p" id="p200" style="top:77.045pt;left:286.32135pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:54.370758pt;">
     закрывала 
   </div> 
   <div class="p" id="p201" style="top:77.045pt;left:343.75012pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:63.071777pt;">
     подбородок, 
   </div> 
   <div class="p" id="p202" style="top:77.045pt;left:409.87552pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:17.03238pt;">
     рот 
   </div> 
   <div class="p" id="p203" style="top:77.045pt;left:429.9637pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.148987pt;">
     и 
   </div> 
   <div class="p" id="p204" style="top:77.045pt;left:439.16412pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:17.692383pt;">
     нос 
   </div> 
   <div class="p" id="p205" style="top:77.045pt;left:459.91232pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.148987pt;">
     и 
   </div> 
   <div class="p" id="p206" style="top:77.045pt;left:469.11273pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:35.60257pt;">
     плотно 
   </div> 
   <div class="p" id="p207" style="top:94.40486pt;left:90.0pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:53.179504pt;">
     прилегала 
   </div> 
   <div class="p" id="p208" style="top:94.40486pt;left:146.2375pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:4.817993pt;">
     к 
   </div> 
   <div class="p" id="p209" style="top:94.40486pt;left:154.1058pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:27.421906pt;">
     лицу; 
   </div> 
   <div class="p" id="p210" style="top:94.40486pt;left:184.5813pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:36.480392pt;">
     менять 
   </div> 
   <div class="p" id="p211" style="top:94.40486pt;left:224.1175pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:30.142197pt;">
     маски 
   </div> 
   <div class="p" id="p212" style="top:94.40486pt;left:257.3111pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:38.970764pt;">
     каждые 
   </div> 
   <div class="p" id="p213" style="top:94.40486pt;left:299.33984pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:6.116028pt;">
     2 
   </div> 
   <div class="p" id="p214" style="top:94.40486pt;left:308.51385pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:23.46521pt;">
     часа 
   </div> 
   <div class="p" id="p215" style="top:94.40486pt;left:335.03705pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.835999pt;">
     во 
   </div> 
   <div class="p" id="p216" style="top:94.40486pt;left:349.93106pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:31.605194pt;">
     время 
   </div> 
   <div class="p" id="p217" style="top:94.40486pt;left:384.58658pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:27.225006pt;">
     всего 
   </div> 
   <div class="p" id="p218" style="top:94.40486pt;left:414.8696pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:46.149384pt;">
     рабочего 
   </div> 
   <div class="p" id="p219" style="top:94.40486pt;left:464.077pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:57.723602pt;">
     дня/смены. 
   </div> 
   <div class="p" id="p220" style="top:111.764725pt;left:90.0pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:47.7818pt;">
     Контроль 
   </div> 
   <div class="p" id="p221" style="top:111.764725pt;left:140.8376pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:11.1595pt;">
     за 
   </div> 
   <div class="p" id="p222" style="top:111.764725pt;left:155.0551pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:67.99318pt;">
     исполнением 
   </div> 
   <div class="p" id="p223" style="top:111.764725pt;left:226.09859pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:40.42717pt;">
     приказа 
   </div> 
   <div class="p" id="p224" style="top:111.764725pt;left:269.58377pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:47.309845pt;">
     возлагаю 
   </div> 
   <div class="p" id="p225" style="top:111.764725pt;left:319.94943pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:12.190216pt;">
     на 
   </div> 
   <div class="p" id="p226" style="top:111.764725pt;left:335.19763pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:26.56723pt;">
     себя. 
   </div> 
   <div class="p" id="p227" style="top:146.12459pt;left:90.0pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:68.04599pt;">
     Генеральный 
   </div> 
   <div class="p" id="p228" style="top:146.12459pt;left:161.0974pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:46.884186pt;">
     директор 
   </div> 
   <div class="p" id="p229" style="top:155.17459pt;left:214.0938pt;line-height:1.1170044pt;font-family:Arial;font-size:1.0pt;font-style:italic;letter-spacing:-2.0E-4pt;width:41.20227pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNMBikmull T EName} 
   </div> 
   <div class="p" id="p230" style="top:146.12459pt;left:258.3507pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:-2.0E-4pt;width:3.0579834pt;">
     / 
   </div> 
   <div class="p" id="p231" style="top:155.17459pt;left:264.46338pt;line-height:1.1170044pt;font-family:Arial;font-size:1.0pt;letter-spacing:-2.0E-4pt;width:38.5347pt;">
     {1234567890qwertyuiopasdfghjklzxcvbnmQWERTYUIOPASDFGHJKLZXCVBNMBikmull T E} 
   </div> 
   <div class="p" id="p232" style="top:163.48451pt;left:90.0pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:2.0E-4pt;width:7.9420013pt;">
     С 
   </div> 
   <div class="p" id="p233" style="top:163.48451pt;left:101.0044pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:2.0E-4pt;width:47.865395pt;">
     приказом 
   </div> 
   <div class="p" id="p234" style="top:163.48451pt;left:151.9212pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:2.0E-4pt;width:71.4142pt;">
     ознакомлены: 
   </div> 
   <div class="p" id="p235" style="top:197.84431pt;left:90.0pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;font-style:italic;letter-spacing:2.0E-4pt;width:49.3152pt;">
     Николаев 
   </div> 
   <div class="p" id="p236" style="top:197.84431pt;left:142.36781pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:2.0E-4pt;width:3.0579987pt;">
     / 
   </div> 
   <div class="p" id="p237" style="top:197.84431pt;left:148.4794pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:2.0E-4pt;width:21.394989pt;">
     Н.Е. 
   </div> 
   <div class="p" id="p238" style="top:197.84431pt;left:172.92801pt;line-height:12.287003pt;font-family:Arial;font-size:11.0pt;letter-spacing:2.0E-4pt;width:49.39659pt;">
     Николаев 
   </div> 
  </div>  
 </body>
</html>